{% for lang in resource %}
{% if lang.frameworks.length %}
<h2>{{ lang.label }}</h2>
<p>{{ lang.desc }}</p>

{% for framework in lang.frameworks %}
{% if framework.boilerplate.length %}
<h3>{{ framework.label }}</h3>
<p>{{ framework.desc }}</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Package</th>
    </tr>
  </thead>
  <tbody>
    {% for boilerplate in framework.boilerplate %}
    <tr>
      <td>{{ boilerplate.label }}</td>
      <td>{{ boilerplate.tags | join(', ') }}</td>
      <td>
        <a href="{{ './packages/' + lang.key + '/' + framework.key + '/' + boilerplate.key }}">{{ boilerplate.key }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}
