.DS_Store
*.log
tsconfig.tsbuildinfo
*.code-workspace

node_modules/
lib/
dist/
tmp/

# Do not commit the lock file in the boilerplate
**/boilerplate/package-lock.json
**/boilerplate/yarn.lock
**/boilerplate/pnpm-lock.yaml
