.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.button-transform {
  animation: button-spin infinite 4s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
  &:hover {
    color: #40a9ff;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes button-spin {
  0% {
    margin-left: -200px;
    transform: rotate(0deg);
  }
  50% {
    margin-right: -400px;
    transform: rotate(720deg);
  }
  100% {
    margin-left: -200px;
    transform: rotate(0deg);
  }
}